<% provide(:title, "poop") %>

<h1>Titty</h1>
    <h3>i need to</h3>
    <h1>POOP</h1>

    <h1>Contact</h1>
    <p>
    Poop/Contact the Ruby on Rails Tutorial about the sample app at the
    <a href="https://www.railstutorial.org/contact">contact page</a>.
    </p>
