<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
<<<<<<< HEAD
    by <a href="https://www.youtube.com/watch?v=qCRGQUEuUPA&t=3s">Derek Young</a>
=======
    by <a href="http://www.michelhartl.com">Michael Hartl</a>
>>>>>>> 513d37ba347d5e2c65635d422391e314bdd62494
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Poop", poop_path %></li>
      <li><a href="http://news.railstutorial.org/">News</li>
    </ul>
  </nav>
</footer>
